* {
  image-rendering: pixelated;
  font-family: base;
  font-size: 8px;
  margin: 0;
  box-shadow: 0 0;
  border-style: none;
  text-shadow: none;
}
input {
  font-family: 'base';
  position: absolute;
  user-select: none;
}
object {
  width: 100%;
  height: 100%;
  position: absolute;
}
#inputtop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000 !important;
  margin: 0 auto;
}
body {
  overflow: hidden;
  align-content: center;
  justify-content: center;
  background-color: black;
  margin: 0;
}
#screen {
  position: absolute;
  margin: 0 0 0 0;
  font-size-adjust: none;
  font-size: 8px;
  box-shadow: 0 0;
  width: 100vmin;
  height: 100vmin;
  user-select: none;
}
#screen > * {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 100;
}
@font-face {
  font-family: 'base';
  src: url('./font.TTF');
  perspective: 1px;
  text-shadow: 0 0;
  box-shadow: 0 0;
}

code {
  font-family: base;
  z-index: 100 !important;
}
#objects {
  position: absolute;
  user-select: none;
  border-style: none;
  outline: none;
  overflow: scroll;
  margin: 0 auto;
  left: 2.5%;
  min-width: 96px;
  min-height: 96px;
  max-height: 96px;
  max-width: 96px;
}

#objects > * {
  outline: none;
  position: absolute;
  margin: 0;

  border-style: none;
  min-width: 96px;
  max-width: 96px;
  min-height: 96px;

  padding-left: -2px;
  padding-right: 4px;
  overflow: visible;
}

textarea {
  border-style: none;
  background-color: transparent;
  resize: none;
  color: transparent;
  caret-color: #aa8085;
  word-wrap: unset;
  flex-wrap: unset;
  overflow-wrap: nowrap;
  white-space: pre;
  text-align: left;
  overflow: visible;
  z-index: 100 !important;
  transform: translate(-2px, -2.5px);
}
textarea::selection {
  background-color: #856440d0;
}
#scriptbody {
  max-height: 96px;
  position: absolute;
  border-style: none;
  overflow: scroll;
  word-wrap: unset;
  flex-wrap: unset;
  overflow-wrap: nowrap;
  white-space: pre;
  outline: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  max-width: 0px;
  max-height: 0px;
  background-color: transparent;
  color: white;
}
